header {
    background-color: map-get($paleta-colores, primario);
    position: sticky;
    z-index: 20;
    top: 0px;
    box-shadow: 1px 1px 3px map-get($paleta-colores, sombra);

    nav {
        div {
            .logo {
                padding-top: 0;
                padding-bottom: 0;
                font-family: "Qwitcher Grypen", cursive;
                font-size: 2.2rem;
                font-weight: 520;
                display: flex;
                align-items: center;
            }

            div {
                ul {
                    text-align: center;

                    .nav-item {
                        a {
                            font-size: 18px;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}