//COLORES
$paleta-colores: (
    primario: white,
    secundario: #ecf9ff,
    terciario: rgb(2, 90, 156),
    lineas: orange,
    botones: orange,
    sombra: gray,
    bordes: #212529,
    iconos: #212529,
    texto-boton: white,
    color-texto: white,
    color-titulo: white,
    transp: transparent
);